{
  box-sizing: border-box;
}

/*Header fashionings*/

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #202020;
  text-align: center;
  padding:0;
  margin-top: -20px;
  height:auto;
}

.navBar{
text-align: right;
padding-right: 30px;
}

li{
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 20px;
  color: #008080;
  letter-spacing: 3px;
  padding: 20px;
  display: inline-block;
}

/*font fashionings*/

h1{
font-family: 'Shadows Into Light', cursive;
color: white;
font-size:70px;
padding:0;
margin:auto;
letter-spacing: 6px;
}

h2{
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 30px;
  color: #008080;
  padding-bottom: 30px;
  padding-top:0;
  margin: auto;
  letter-spacing: 8px;
}

h3{
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 26px;
  letter-spacing: 4px;
}

h4{
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 25px;
  color: #008080;
  padding-top:20px;
  padding-bottom:10px;
  margin: auto;
  letter-spacing: 5px;
}


p{
  font-family: sans-serif;
  font-size: 16px;
  padding-right: 30px;
}

/*central body stylings*/

.content {
  margin-top: auto;
  padding: 16px;
  padding-bottom: 25px;
margin-top: 160px;
}

.columnNarrow {
  width:30%;
  float:left;
}

.responsive {
  width: 100%;
  height: auto;
}

.columnWide{
height:300px;
padding-right: 30px;
width:65%;
float:right;
}

.buttonLeaf{
  background-color: #008080;
  font-family: 'Archivo Narrow', sans-serif;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 10px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

/*Footer stylings*/
.footer {
  background-color: #202020;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 25px;
  color: #008080;
  letter-spacing: 5px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 30px;
  position:fixed;
  bottom:0;
  width: 100%;
  margin-left:-30px;
  margin-bottom:-10px;
}

.footerBar{
text-align: center;
}

i{
  padding-right: 10px;
  padding-left: 10px;
}
