*{
  box-sizing: border-box;
}

body{
  background-color: #1B2631;
  margin:0;
  border: 5px;
}
/*nav and header fashionings*/
#headerMargin{
  background-color: #1B2631;
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: sticky;
}

nav{
  padding-top: 10px;
}

.active{
  background-color: white;
  color: black;
}

/*content blocks*/

#contentBlockOne {
  background-color:white;
  margin-top: 10px;
  margin-bottom:40px;
  padding-bottom: 30px;
}

.bottomIcons{
  padding-top: 30px;
}

.circle-icon {
    background: #1B2631;
    padding:20px;
    border-radius: 50%;
}

#contentBlockTwo{
  background-color: #A2D9CE;
  margin-top: 60px;
  margin-bottom:40px;
  padding-bottom: 60px;
  align-items: center;
}

.pPad{
padding: 10px;
}

.DDD{
  border-radius: 50%;
  height:250px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}


/*font fashionings*/
h1{
  font-family: 'Oregano', cursive;
  color: white;
  font-size:60px;
  margin:0;
  letter-spacing: 5px;
  text-align: center;
  }

h2{
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 18px;
  color: #66cccc;
  padding-bottom: 15px;
  margin: 0;
  letter-spacing: 10px;
  text-align: center;
}

h3{
  font-family: 'Bebas Neue', cursive;
  font-size: 24px;
  letter-spacing: 4px;
  padding-top: 30px;
}

h4{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 25px;
  color: #336666;
}

h5{
font-family: 'Oregano', cursive;
color: white;
font-size:20px;
padding:0;
margin:0;
letter-spacing: 5px;
text-align: center;
}

p{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

i{
  font-size: 30px;
  text-align: left;
}

a, li{
  font-family: 'Archivo Narrow', sans-serif;
  color:white;
  color: #66cccc;
  text-decoration: none;
}

a.hover {
  color:white;
}

/*footer fashionings*/
#footerContent {
  background-color: #1B2631;
  font-size: 25px;
  color: #336666;
  letter-spacing: 5px;
  text-align: center;
  margin-top: 60px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  position-bottom: fixed;
  display:inline;
}

i{
  color: #66cccc;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
}

/*carousel*/

.mySlides {display: none}

img {vertical-align: middle;}

/* Slideshow container --Hacked from w3 Schools - full disclosure!*/
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top:100px;
  margin-bottom: 100px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
