*{
  box-sizing: border-box;
}

body{
  background-color: #1B2631;
  margin:0;
  border: 5px;
}
/*nav and header fashionings*/
#headerMargin{
  background-color: #1B2631;
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: sticky;
}

nav{
  padding-top: 10px;
}

/*content blocks*/

#contentBlockOne {
  background-color:white;
  margin-top: 10px;
  margin-bottom:40px;
  padding-bottom: 30px;
}

#contentBlockTwo{
  background-color: #A2D9CE;
  margin-top: 30px;
  margin-bottom:10px;
}

.pPad{
padding: 10px;
}

.DDD{
  border-radius: 50%;
  height:250px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rbga(0,0,0,.2), 0 6px 20px 0 rbga (0,0,0,.19);
}


/*font fashionings*/
h1{
  font-family: 'Oregano', cursive;
  color: white;
  font-size:60px;
  margin:0;
  letter-spacing: 5px;
  text-align: center;
  }

h2{
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 18px;
  color: #66cccc;
  padding-bottom: 15px;
  margin: 0;
  letter-spacing: 10px;
  text-align: center;
}

h3{
  font-family: 'Bebas Neue', cursive;
  font-size: 24px;
  letter-spacing: 4px;
  padding-top: 30px;
}

h4{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 25px;
  color: #336666;
}

h5{
font-family: 'Oregano', cursive;
color: white;
font-size:20px;
padding:0;
margin:0;
letter-spacing: 5px;
text-align: center;
}

p{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

a, li, i{
  font-size: 15px;
}

a, li{
  font-family: 'Archivo Narrow', sans-serif;
  color:white;
  color: #66cccc;
  text-decoration: none;
}

a.hover {
  color:white;
}

/*footer fashionings*/
#footerContent {
  background-color: #1B2631;
  font-size: 25px;
  color: #336666;
  letter-spacing: 5px;
  text-align: center;
  margin-top: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  position-bottom: fixed;
  display:inline;
}

i{
  color: #66cccc;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
}
